
@{
    ViewData["Title"] = "Actions";
}

<h1>Actions</h1>

<ul>
    <li><a href="/Home/Vydacha/">Выдать книгу</a></li>
    <li><a href="/Home/Sdacha/">Сдать книгу</a></li>
</ul>

<div><a href="/Home/Index">В главное меню</a></div>

