@model string  
@{
    ViewData["Title"] = "Index";
}

<h1>Библиотека</h1>

<ul>
    <li><a href="/Home/Spravochniki/">Справочники</a></li>
    <li><a href="/Home/Actions/">Действия</a></li>
</ul>

<label>@Model</label>