
@{
    ViewData["Title"] = "Spravochniki";
}

<h1>Spravochniki</h1>

<ul>
    <li><a href="">Книги</a></li>
    <li><a href="">Авторы</a></li>
    <li><a href="">Читатели</a></li>
</ul>

<div><a href="/Home/Index">В главное меню</a></div>

