<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsLibr.Properties.Settings.libraryConnectionString"
            connectionString="server=localhost;user id=root;database=library"
            providerName="MySql.Data.MySqlClient" />
        <add name="WindowsFormsLibr.Properties.Settings.libraryConnectionString1"
            connectionString="server=localhost;user id=root;password=0000;persistsecurityinfo=True;database=library"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>